<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

<!-- Servlets -->
	<servlet>
		<servlet-name>example</servlet-name>
		<servlet-class>com.werxltd.jsonrpc.RPC</servlet-class>
		<init-param>
			<param-name>rpcclasses</param-name>
			<param-value>com.werxltd.jsonrpc.Example</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>example</servlet-name>
		<url-pattern>/example</url-pattern>
	</servlet-mapping>

</web-app>
